.contact__title h1,
.page__title h1 {
  padding: 40px 24px 0;
  margin-bottom: 3rem;
  text-align: center;
  margin-top: 0;
}

@media screen and (max-width: 749px) {
  .contact__title h1,
  .page__title h1 {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 750px) {
  .contact__title h1,
  .page__title h1 {
    margin-bottom: 4rem;
  }
}

.contact__title h1 {
  margin-top: 80px;
  margin-bottom: 0;
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
